/*Caleb Lyons - 2/09*/

body {
    background: #F5EFE6;
    color: #4B3832
}
h1, h1 ~ p {
    background:#8B5E3B;
    color: #FFFFFF;
}
nav {
    background: #D4A373;
}
main {
    background: #FFFFFF;
}
footer {
    background: #8B5E3B;
    color:#FFFFFF;

}
